<% content_for :body_id do %>landing<% end %>

<header>
  <%= image_tag "logo.png", alt: "Gift Factor" %>
</header>
<section class="main">
  <h1>Who Only Wants a "Just OK" Gift?</h1>
  <p>
  Your loved ones deserve to get a gift they've been dreaming of!<br />
  What is it exactly? Glad you asked. There is a way to know for sure.<br />
  All you need is a <i>Damn Smart Machine Learning Algorithm</i>.
  </p>
  <p>
    Luckily we've built one. And it will be live in early October 2015
  </p>

  <h2>Be The First To Know</h2>
  <%= link_to '#', id: "fb-connect" do %>
    <%= image_tag("fb-login.jpg", alt: "Login with Facebook") %>
  <% end %>
  <br>
</section>
