/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
 	font-family: 'Source Sans Pro', sans-serif;
 	line-height: 1.5;
 	font-weight: 400;
 	font-size: 16px;
 	overflow-x: hidden;
 	margin:0px;
 	padding: 0px;
 }

body#landing {
	background-image: image-url("background.jpg");
  height: 100vh;
  /* min-height: 100%; */
  background-position: bottom;
  overflow: hidden;
}


 header,
 section.main,
 footer {
 	width: 80%;
 	margin: 80px auto 20px auto;
 }

 section.main {
 	width: 80%;
 	margin: auto;
 }

section.main h1 {
	font-size: 3.9em;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  font-weight: 400;
  color: #4E4E4E;
  line-height: 1.2em;
}

 #thankyou h1 {
 	font-size: 2.6em;
 }



section.main h2 {
	text-transform: uppercase;
	font-size: 2em;
	color: #4E4E4E;
}

 #thankyou h2 {
 	font-size: 1.8em;
 }

 section.main p {
 	font-size: 1.3em;
 	max-width: 750px;
 }

 a {
 	color: #F86013;
 	text-decoration: underline;
 }

 a:hover {
 	text-decoration: none;
 }

 footer a {
 	display: inline-block;
 	margin-right: 10px;
 	opacity: 0.7;
 }

 #thankyou header {
 	margin: auto;
 	padding: 10px;
 }

 #thankyou header span.notice {
 	background: #F86013;
     border-radius: 2px;
     display: block;
     text-align: center;
     text-transform: uppercase;
     padding: 5px;
     font-size: 1.5em;
     color: #fff;
     margin-top: 10px;
 }

 #thankyou .one {
 	float: left;
 	width: 450px;
 	text-align: center;
 	padding-top: 40px;
 }

#thankyou .two {
  float: right;
  width: 550px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 1.5em;
  margin-top: 3em;
}

#thankyou .url {
  font-size: 1em;
  padding: .2em .7em;
  border-radius: 0px;
  min-width: 24em;
  text-align: center;
}

body#thankyou {
  background-image: image-url("background-thankyou.jpg");
}

 .clear {
 	clear: both;
 }

.wrapper {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 600px;
}

.social-sharing-buttons {
  .fb-share-button,
  .twitter-share-button {
    display: inline-block;
    vertical-align: bottom;
  }
}
